In [1]:
tableau = pd.read_csv("base-pop-2015-communes.csv")

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
tableau = pd.read_csv("base-pop-2015-communes.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'base-pop-2015-communes.csv'

In [3]:
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.width', 80)
pd.set_option('display.max_columns', 6)
pd.set_option('precision', 3)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

import matplotlib as mpl
mpl.rcParams['figure.dpi'] = 600

In [4]:
import pandas as pd
tableau = pd.read_csv("./data/base-pop-2015-communes.csv")

In [5]:
tableau.shape

(35399, 109)

In [6]:
tableau["REG"].value_counts

<bound method IndexOpsMixin.value_counts of 0        84
1        84
2        84
3        84
4        84
         ..
35394     4
35395     4
35396     4
35397     4
35398     4
Name: REG, Length: 35399, dtype: int64>

In [7]:
tableau["REG"].value_counts()

44    5136
76    4488
75    4413
84    4095
32    3809
27    3739
28    2722
24    1783
52    1281
11    1277
53    1233
93     951
94     360
2       34
1       32
4       24
3       22
Name: REG, dtype: int64

In [8]:
100*tableau["REG"].value_counts()/len(tableau)

44   14.509
76   12.678
75   12.466
84   11.568
32   10.760
27   10.562
28    7.689
24    5.037
52    3.619
11    3.607
53    3.483
93    2.687
94    1.017
2     0.096
1     0.090
4     0.068
3     0.062
Name: REG, dtype: float64

In [9]:
round(10.12345,1)

10.1

In [10]:
round(100*tableau["REG"].value_counts()/len(tableau),3)

44   14.509
76   12.678
75   12.466
84   11.568
32   10.760
27   10.562
28    7.689
24    5.037
52    3.619
11    3.607
53    3.483
93    2.687
94    1.017
2     0.096
1     0.090
4     0.068
3     0.062
Name: REG, dtype: float64

In [11]:
tab_ab = tableau["REG"].value_counts()
tab_p = round(100*tab_ab/len(tableau),2)
nouveau_tab = pd.DataFrame([tab_ab, tab_p])

In [12]:
nouveau_tab

          44       76       75  ...     1      4      3
REG 5136.000 4488.000 4413.000  ... 32.000 24.000 22.000
REG   14.510   12.680   12.470  ...  0.090  0.070  0.060

[2 rows x 17 columns]

In [13]:
nouveau_tab = nouveau_tab.T

In [14]:
nouveau_tab.columns = ["Effectif","Pourcentage"]

In [15]:
nouveau_tab

    Effectif  Pourcentage
44  5136.000       14.510
76  4488.000       12.680
75  4413.000       12.470
84  4095.000       11.570
32  3809.000       10.760
27  3739.000       10.560
28  2722.000        7.690
24  1783.000        5.040
52  1281.000        3.620
11  1277.000        3.610
53  1233.000        3.480
93   951.000        2.690
94   360.000        1.020
2     34.000        0.100
1     32.000        0.090
4     24.000        0.070
3     22.000        0.060

In [16]:
nouveau_tab.loc["Total"] = [len(tableau),100]
nouveau_tab

       Effectif  Pourcentage
44     5136.000       14.510
76     4488.000       12.680
75     4413.000       12.470
84     4095.000       11.570
32     3809.000       10.760
27     3739.000       10.560
28     2722.000        7.690
24     1783.000        5.040
52     1281.000        3.620
11     1277.000        3.610
53     1233.000        3.480
93      951.000        2.690
94      360.000        1.020
2        34.000        0.100
1        32.000        0.090
4        24.000        0.070
3        22.000        0.060
Total 35399.000      100.000

In [17]:
tab_ab = tableau["REG"].value_counts()
tab_p = round(100*tableau["REG"].value_counts()/len(tableau),2)
nouveau_tab = pd.DataFrame(tab_ab)
nouveau_tab["Pourcentages"] = tab_p

In [18]:
def triaplat(colonne):
    tab_ab = colonne.value_counts()
    tab_p = round(100*colonne.value_counts()/len(colonne),2)
    nouveau_tab = pd.DataFrame([tab_ab, tab_p])
    nouveau_tab = nouveau_tab.T
    nouveau_tab.columns = ["Effectif","Pourcentage"]
    nouveau_tab.loc["Total"] = [len(colonne),100]
    return nouveau_tab

In [19]:
departements = triaplat(tableau["DEP"])
departements[0:5]

    Effectif  Pourcentage
62   891.000        2.520
2    804.000        2.270
80   779.000        2.200
57   727.000        2.050
76   711.000        2.010

In [20]:
def triaplat(colonne):
    """
    Tri à plat d'une colonne Pandas. 
    - Prends une colonne (`Series`) Pandas
    - Réalise un tri à plat. 
    -> Renvoie un tableau DF (Effectif et Pourcentage)
    """
    tab_ab = colonne.value_counts()
    tab_p = round(100*colonne.value_counts()/len(colonne),2)
    nouveau_tab = pd.DataFrame([tab_ab,tab_p])
    nouveau_tab = nouveau_tab.T
    nouveau_tab.columns = ["Effectif","Pourcentage"]
    nouveau_tab.loc["Total"] = [len(colonne),100]
    return nouveau_tab